.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
ol,ul,li{ list-style: none; }
table{ border-collapse: collapse; border-spacing: 0; }
.ol-viewport{
    font-size: 14px;
}
.right_main {
    right: 0;
    width: 5.20rem;
    height: 100%;
    padding-top: .26rem;
    padding-right: .20rem;
    position: absolute;
    z-index: 99999;
    box-sizing: border-box;
}
.right_main *{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.right_header{

}
.right_header>ul,.right_content>ul {
    margin: 0;
    padding: 0;
}
.right_header>ul{
    margin-left: -.12rem;
}
.right_header>ul>li {
    list-style: none;
    cursor: pointer;
    float: left;
    height: .46rem;
    width: 1.16rem;
    font-size: .18rem;
    line-height: .46rem;
    color: #0165B9;
    border: 1px solid #163264;
    text-align: center;
    margin-left: .12rem;
    /*background: url(/static/images/border-line.png) center no-repeat;
    background-size: .18rem .46rem;*/
}
.right_header>ul>li.current{
    background-color: #001E52;
    color: #008AFF;
}
.commonHd{
    position: relative;
    padding-left: .14rem;
    font-size: .16rem;
    line-height: .26rem;
    height: .26rem;
    color: #00A8FF;
    margin-bottom: .20rem;
}
.commonHd::before{
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    transform: translateY(-50%);
    height: .16rem;
    width: .04rem;
    background-color: #008AFF;
}
.commonBd{
    padding: .18rem;
    border: 1px solid #163264;
    margin-top: .20rem;
    background-color: rgba(7, 21, 48, .9);
}
.right_header:after,.right_content:after {
    content: "";
    display: block;
    clear: both;
}

.countList{
    border-bottom: 1px solid #0D234C;
}
.countList li{
    width: 50%;
    height: .90rem;
    padding: .18rem 0;
    float: left;
    border-top: 1px solid #0D234C;
    border-right: 1px solid #0D234C;
    text-align: center;
}
.countList li:nth-child(even){
    border-right: 0;
}
.countList li .num{
    font-size: .24rem;
    line-height: .32rem;
    color: #0066FF;
}
.countList li .text{
    font-size: .14rem;
    color: #3A4863;
}

.hasBorderStyle{position: relative;}
.hasBorderStyle>span{
    position: absolute;
    padding: .05rem;
    z-index: 2;
    border-style: solid;
    border-color: #104062;
}
.hasBorderStyle>span:nth-child(1),
.hasBorderStyle>span:nth-child(2){
    top: -1px;
}
.hasBorderStyle>span:nth-child(1),
.hasBorderStyle>span:nth-child(4){
    left: -1px;
}
.hasBorderStyle>span:nth-child(2),
.hasBorderStyle>span:nth-child(3){
    right: -1px;
}
.hasBorderStyle>span:nth-child(3),
.hasBorderStyle>span:nth-child(4){
    bottom: -1px;
}
.hasBorderStyle>span:nth-child(1){
    
    border-width: 2px 0 0 2px;
}
.hasBorderStyle>span:nth-child(2){
    border-width: 2px 2px 0 0;
}
.hasBorderStyle>span:nth-child(3){
    border-width: 0 2px 2px 0;
}
.hasBorderStyle>span:nth-child(4){
    border-width: 0 0 2px 2px;
}


.Table{
    width: 100%;
    border: 1px solid #0E2550;
}
.Table th{
    height: .40rem;
    text-align: center;
    color: #8FB0EC;
    font-weight: normal;
    font-size: .14rem;
    line-height: .40rem;
    background-color: #0B2147;
}
.Table tbody td{
    border: 1px solid #0E2550;
    text-align: center;
    font-size: .14rem;
    line-height: .20rem;
    padding: .10rem .06rem;
    color: #5491D6;
}
.Table tbody tr:nth-child(odd) {background: #07142f}
.Table tbody tr:nth-child(even) {background: #0a1b3a}
.Table tbody tr td:nth-child(2n) {color: #2AA1D2;}

.scrollTable{
    width:100%;
    height:2.47rem;
    overflow-y:auto;
}
::-webkit-scrollbar{width:4px;height:4px;}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{border-radius:9.99rem;border:.06rem solid #ebedf0;}
::-webkit-scrollbar-track{box-shadow:1px 1px 8px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height:.20rem;background-clip:content-box;border:.06rem solid #0B2147;}
::-webkit-scrollbar-corner{background:transparent;}